aside.menu-area {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow:
        2px 0 10px 0 rgba(0,0,0,0.12),
        2px 0 15px 0 rgba(0,0,0,0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 15px;
}

.menu a:hover {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

@media(max-width: 768px){
    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
    }
}